.Footer {
  background-color: rgb(23, 26, 54);
  color: var(--whiteColor);
  font-family: var(--secundaryFont);
  display: flex;
  justify-content: center;
  height: 200px;
}

.Contacts {
  margin: auto 30px;
}

.Contacts p {
  font-size: 18px;
}

.Referencia {
  margin: auto 30px;
}